/* RESET */

html, body, h1, ul, li, p, div, article, a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  list-style: none;
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
  box-sizing: content-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

a {
  color: #9a9a9a;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 18px;
}

a:hover {
  color: black
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
  font-weight: 100;
}

.wrapper {
  padding: 50px;
}

.menu {
  height: 100%;
  width: 100px; 
  position: fixed;
  left: 50px;
  padding-top: 20px;
}

.content {
  padding-left: 150px;
  max-width: 1000px;
}

.divider-container {
  padding-top: 17px;
  padding-bottom: 17px;
}
.divider {
  border: none;
  color: #bbb;
  background-color: #bbb;
  height: 1px;
}

.game {
  padding: 25px 0 0;
}

.game h2{
  font-size: 32px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.game a {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.info {
  max-width: 600px;
}

.game .info p {
  font-family: 'Raleway', sans-serif;
  margin: 0 0 1em;
  text-align: justify;
}

.note {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

@media only screen 
  and (max-width: 980px) {

  .menu {
    display: none;
  }

  .content {
    padding-left: 0px;
  }

  .info {
    max-width: 100%;
  }

}
